* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-window {
  width: 300px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid #6200ee;
  padding: 5px;
  background: #ffffff;
  color: #333333;
  font-size: 25px;
  font-weight: bold;
  height: 20vh;
  text-align: center;
}

.modal-window2 {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #6200ee;
  padding: 5px;
  background: #ffffff;
  color: #333333;
  font-size: 25px;
  font-weight: bold;
  height: 20vh;
  text-align: center;
  display: grid;
  place-content: center;
}

.modal_header {
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: grid;
  grid-template-columns: 1fr 30px;
}

.modal_title {
  font-size: 20px;
  padding: 10px;
  height: 40px;
  text-align: center;
}

.modal_body {
  margin-top: 50px;
  font-size: .8em;
  font-weight: 400;
  text-align: left;
  line-height: 1.4em;
  padding: 10px;
  height: 45vh;
  overflow: scroll;
}

.close {
  border: none;
  background: none;
  font-size: inherit;
  padding: 5px 5px 5px 10px;
  color: #bdbdbd;
  cursor: pointer;
  outline: none;
}

.close:active {
  border: none;
  background: none;
}

.close:hover {
  color: #212121;
}